### Flask template
instance/*
!instance/.gitignore
.webassets-cache
.env

/.idea/.gitignore
/.idea/BWA.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
